{% extends 'auth_base.html' %}
{% load static %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
<div class="container mt-5">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczNmBzJ7yOMzh0rOaCB_MVrKrcEkSSsQ9jC48Btbs6FyK9BXOPITd2osbMAFJzg-XLRL2rdhBrqWXA2yKLkGgPc--Yyj79fsy1fRXyj1gS86gur-k4v1dK8u2s8S4gO8SNKp0LpHFp7BaNfZBSy621b6=w200-h160-s-no-gm" alt="Logo" class="img-fluid mb-4" style="max-width: 200px; display: block; margin: 0 auto;">
    <form method="post" action="{% url 'login' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'register' %}">Kayıt Ol</a>
    </div>
</div>
{% endblock %}
