<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birim Seçimi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="unit-select-form">
        <h2>Çizelge Oluştur</h2>
        <form method="post" action="{% url 'mercis696:schedule_view' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Çizelge Oluştur</button>
        </form>
    </div>
</body>
</html>
