{% extends "base.html" %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <!-- Sol taraf: Birim Tanımlama ve Düzenleme Formları -->
        <div class="col-md-4">
            <!-- Yeni Birim Tanımlama Formu -->
            <div class="card" id="yeniBirimFormu">
                <div class="card-header">
                    <h3 class="card-title">Yeni Birim Tanımlama</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'hekim_cizelge:add_birim' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="birim_adi">Birim Adı</label>
                            <input type="text" class="form-control" id="birim_adi" name="birim_adi" placeholder="Birim Adı Girin" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="varsayilan_hizmet">Varsayılan Hizmet</label>
                            <select class="form-control" id="varsayilan_hizmet" name="varsayilan_hizmet" required>
                                <option value="" disabled selected>Varsayılan Hizmeti Seçin</option>
                                {% for hizmet in hizmetler %}
                                <option value="{{ hizmet.HizmetID }}">{{ hizmet.HizmetName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="diger_hizmetler">Diğer Hizmetler</label>
                            <select class="form-control selectpicker" id="diger_hizmetler" name="diger_hizmetler" multiple data-live-search="true">
                                {% for hizmet in hizmetler %}
                                <option value="{{ hizmet.HizmetID }}">{{ hizmet.HizmetName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Birim Ekle</button>
                    </form>
                </div>
            </div>

            <!-- Birim Düzenleme Formu -->
            <div class="card d-none" id="birimDuzenleFormu">
                <div class="card-header">
                    <h3 class="card-title">Birim Düzenle</h3>
                </div>
                <div class="card-body">
                    <form id="duzenleForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="duzenle_birim_adi">Birim Adı</label>
                            <input type="text" class="form-control" id="duzenle_birim_adi" name="birim_adi" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="duzenle_varsayilan_hizmet">Varsayılan Hizmet</label>
                            <select class="form-control" id="duzenle_varsayilan_hizmet" name="varsayilan_hizmet" required>
                                <option value="" disabled selected>Varsayılan Hizmeti Seçin</option>
                                {% for hizmet in hizmetler %}
                                <option value="{{ hizmet.HizmetID }}">{{ hizmet.HizmetName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="duzenle_diger_hizmetler">Diğer Hizmetler</label>
                            <select class="form-control selectpicker" id="duzenle_diger_hizmetler" name="diger_hizmetler" multiple data-live-search="true">
                                {% for hizmet in hizmetler %}
                                <option value="{{ hizmet.HizmetID }}">{{ hizmet.HizmetName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
                        <button type="button" class="btn btn-secondary mt-3" onclick="cancelEdit()">İptal</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Sağ taraf: Birim Listesi Tablosu -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Kayıtlı Birimler</h3>
                    <input type="text" class="form-control w-25" id="birim_ara" placeholder="Birim Ara...">
                </div>
                <div class="card-body">
                    <table class="table table-bordered-sm" id="birim_tablosu">
                        <thead>
                            <tr>
                                <th scope="col">Düzenle</th>
                                <th scope="col">Birim Adı</th>
                                <th scope="col">Varsayılan Hizmet</th>
                                <th scope="col">Diğer Hizmetler</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for birim in birimler %}
                            <tr>
                                <!-- Ortalanmış Pencil square iconlu düzenle butonu -->
                                <td class="text-center">
                                    <button class="btn btn-outline-success btn-sm" onclick="editBirim('{{ birim.BirimID }}')">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>{{ birim.BirimAdi }}</td>
                                <td>{{ birim.VarsayilanHizmet.HizmetName }}</td>
                                <!-- Diğer hizmetleri badge görünümünde listeleme -->
                                <td>
                                    {% for hizmet in birim.DigerHizmetler.all %}
                                        <span class="badge bg-primary">{{ hizmet.HizmetName }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Kayıtlı birim bulunmamaktadır.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tablo Arama Fonksiyonu -->
<script>
    document.getElementById('birim_ara').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const rows = document.querySelectorAll('#birim_tablosu tbody tr');
        rows.forEach(row => {
            const birimAdi = row.children[1].textContent.toLowerCase();
            row.style.display = birimAdi.includes(searchValue) ? '' : 'none';
        });
    });
    // Birim Düzenleme Fonksiyonu
    function editBirim(birimID) {
        fetch(`/hekim_cizelge/birim_duzenle_form/${birimID}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Sunucu hatası: ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('yeniBirimFormu').classList.add('d-none');
                document.getElementById('birimDuzenleFormu').classList.remove('d-none');

                document.getElementById('duzenle_birim_adi').value = data.birim.BirimAdi;
                document.getElementById('duzenle_varsayilan_hizmet').value = data.birim.VarsayilanHizmetID;
                $('#duzenle_diger_hizmetler').selectpicker('val', data.birim.DigerHizmetler);

                document.getElementById('duzenleForm').action = `/hekim_cizelge/birim_duzenle/${birimID}/`;
            })
            .catch(error => {
                alert('Birim bilgileri yüklenirken bir hata oluştu: ' + error.message);
            });
    }

    function cancelEdit() {
        document.getElementById('birimDuzenleFormu').classList.add('d-none');
        document.getElementById('yeniBirimFormu').classList.remove('d-none');
    }
</script>

{% endblock %}
