{% extends "base.html" %}

{% block content %}
<br>
<div class="container-fluid">
    <!-- Başlık ve Yeni Personel Ekle butonu -->
    <div class="row mb-3">
        <div class="col-md-6">
            <h3>Sistemde kayıtlı hekimler</h3>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-primary" id="openAddPersonelForm">Yeni Personel Ekle</button>
        </div>
    </div>

    <table id="personellerTable" class="display">
        <thead>
            <tr>
                <th>Düzenle</th>
                <th>T.C. Kimlik No</th>
                <th>Ad</th>
                <th>Unvan</th>
                <th>Branş</th>
                <th>Çalıştığı Birim</th>
            </tr>
        </thead>
        <tbody>
            {% for personel in personeller %}
            <tr>
                <td>
                    <button class="edit-btn btn btn-sm btn-outline-primary" onclick="enableEdit(this)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="save-btn btn btn-sm btn-outline-success d-none" onclick="saveEdit(this)">
                        <i class="bi bi-check-lg"></i>
                    </button>
                    <button class="cancel-btn btn btn-sm btn-outline-danger d-none" onclick="cancelEdit(this)">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
                <td>{{ personel.PersonelID }}</td>
                <td contenteditable="false">{{ personel.PersonelName }}</td>
                <td contenteditable="false">{{ personel.PersonelTitle }}</td>
                <td>{{ personel.PersonelBranch }}</td>
                <td>
                    <span id="birim-text-{{ personel.id }}" class="birim-text">
                        {% for pb in personel_birimleri %}
                            {% if pb.personel_id == personel.PersonelID %}
                                {{ pb.birim.BirimAdi }}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <select name="birim" id="birim-select-{{ personel.id }}" class="birim-select d-none">
                        {% for birim in birimler %}
                        <option value="{{ birim.BirimID }}" 
                            {% if birim in personel.birim.all %}selected{% endif %}>
                            {{ birim.BirimAdi }}
                        </option>
                        {% endfor %}
                    </select>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function enableEdit(button) {
    let row = $(button).closest('tr');
    row.find('td[contenteditable="false"]').attr('contenteditable', 'true').addClass('editable');
    row.find('.birim-text').addClass('d-none');
    row.find('.birim-select').removeClass('d-none');
    row.find('.edit-btn').addClass('d-none');
    row.find('.save-btn').removeClass('d-none');
    row.find('.cancel-btn').removeClass('d-none');
    }

    // Personel Adı, Unvanı, Branşı ve Çalıştığı Birim bilgilerini güncelleme işlemi
    function saveEdit(button) {
        let row = $(button).closest('tr');
        let personelID = row.find('td:eq(1)').text().trim();
        let personelName = row.find('td:eq(2)').text().trim();  
        let personelTitle = row.find('td:eq(3)').text().trim();
        let personelBranch = row.find('td:eq(4)').text().trim();
        let birimID = row.find('select[name="birim"]').val();
        
        $.ajax({
            url: '{% url "hekim_cizelge:personel_update" %}',
            method: 'POST',
            data: {
                id: personelID,
                birim: birimID,
                name: personelName,
                title: personelTitle,
                branch: personelBranch,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert('Personel başarıyla güncellendi.');
                    row.find('td[contenteditable="true"]').attr('contenteditable', 'false').removeClass('editable');
                    row.find('.birim-text').text(response.birim_adi).removeClass('d-none');
                    row.find('.birim-select').addClass('d-none');
                } else {
                    alert('Hata: ' + response.message);
                }
            },
            error: function() {
                alert('Bir hata oluştu.');
            }
        });

        row.find('.save-btn').addClass('d-none');
        row.find('.cancel-btn').addClass('d-none');
        row.find('.edit-btn').removeClass('d-none');
    }

    function cancelEdit(button) {
        let row = $(button).closest('tr');
        row.find('td[contenteditable="true"]').attr('contenteditable', 'false').removeClass('editable');
        row.find('.birim-text').removeClass('d-none');
        row.find('.birim-select').addClass('d-none');

        row.find('.save-btn, .cancel-btn').addClass('d-none');
        row.find('.edit-btn').removeClass('d-none');
    }


    $(document).ready(function() {
        $('#personellerTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'copy',
                    text: 'Kopyala',
                    className: 'btn btn-outline-secondary btn-sm'
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    className: 'btn btn-outline-secondary btn-sm'
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: 'btn btn-outline-success btn-sm'
                },
                {
                    extend: 'print',
                    text: 'Yazdır',
                    className: 'btn btn-outline-secondary btn-sm'
                }
            ]
        });
    });

    // Sayfa karartma ve form gösterme işlemi
    function showForm(htmlContent) {
        document.getElementById("sidePanel").innerHTML = htmlContent;
        document.getElementById("sidePanel").classList.add("active");
        document.getElementById("overlay").classList.add("active");
    }

    // Form kapatıldığında arka planı normale döndürme
    function closeForm() {
        document.getElementById("sidePanel").classList.remove("active");
        document.getElementById("overlay").classList.remove("active");
    }
    // Yeni personel ekleme formunu gösterme
    document.getElementById("openAddPersonelForm").addEventListener("click", function() {
        fetch("{% url 'hekim_cizelge:personel_ekle_form' %}")
            .then(response => response.text())
            .then(html => showForm(html));
    });

    // Overlay alanı tıklandığında personel_ekle_form formunu kapat ve arka planı normale döndür
    document.getElementById("overlay").addEventListener("click", closeForm);
</script>

<style>
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10;
    }
    .overlay.active {
        display: block;
    }
    .side-panel {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        background: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 20;
        padding: 20px;
        overflow-y: auto;
    }
    .side-panel.active {
        display: block;
    }
    .navbar, .app-sidebar {
    z-index: 10; /* Form ve overlay'den daha düşük z-index */
    }
    .editable {
        background-color: #f9f9c5;
        border: 1px solid #ffc107;
        cursor: text;
    }
    #personellerTable {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #personellerTable td, #personellerTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #personellerTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #personellerTable tr:hover {
        background-color: #ddd;
    }

    #personellerTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #045aaa;
        color: white;
    }
    .dt-buttons .btn {
        margin-right: 5px;
    }
</style>

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
{% endblock %}

{% endblock %}