{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Nöbet Defteri Oluştur{% endblock %}

{% block content %}
<div class="container mt-4">
    <h4>Yeni Nöbet Defteri Oluştur</h4>
    <form method="POST" class="mt-3">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a href="{% url 'nobet_defteri:liste' %}" class="btn btn-secondary">İptal</a>
        </div>
    </form>
</div>
{% endblock %}
